[submodule "PhoneTagSaga"]
	path = PhoneTagSaga
	url = https://github.com/naveen-negi/PhoneTagSaga.git
[submodule "FairyTaleSaga"]
	path = FairyTaleSaga
	url = https://github.com/naveen-negi/FairyTaleSaga.git
[submodule "DataSyncWithReplicatedCache"]
	path = DataSyncWithReplicatedCache
	url = https://github.com/naveen-negi/DataSyncWithReplicatedCache.git
